node_modules
backend/credentials
backend/yarn.lock
backend/packge-lock.json

backendGraphQL/credentials
backendGraphQL/yarn.lock
backendGraphQL/packge-lock.json

backend_prismajs/yarn.lock
backend_moleculerjs/db
backend_moleculerjs/data